name: Tests
on: [push]
jobs:
  install:
    runs-on: [ubuntu-20.04, macos-11]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run make
        run: |
          cd ${{ github.workspace }}
          make
