name: Tests
on: [push]
jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run make
        run: |
          cd ${{ github.workspace }}
          make
      - name: Show usage instructions
        run: rake
      - name: Install oh-my-zsh
        run: rake install oh-my-zsh
      - name: Install dot-zsh
        run: rake install dot-zsh
      - name: Install zshrc
        run: rake install zshrc
      - name: Install bin
        run: |
          rake install bin
          ls ~/bin
          ~/bin/f ffind
